name: Build Docker images on master push

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ghcr.io/${{ github.repository }}-gpu
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - run: docker login --username "${{ github.actor }}" --password ${{ secrets.GITHUB_TOKEN }} ghcr.io
      - run: docker buildx create --use
      - run: docker buildx build --platform linux/amd64,linux/arm64 -f Dockerfile --tag $IMAGE_NAME:${{ github.ref_name }} --push .
      - run: docker buildx build --platform linux/amd64,linux/arm64 -f Dockerfile --tag $IMAGE_NAME:latest --push .